.main{
    margin-left: 100px;
    margin-right: 100px;
    background-color: brown;
    padding-bottom: 1000px ;
    padding-left: 300px;
    font-size: 20px;
}

body{
    background-color:darkred;
}



