			h1 {
				color:dodgerblue;

			}
			div{
				width: 75%;
				margin: auto;
				color:red;
				background-color: #003826;
				padding: 50px
			}
			a{
				color: green;
				text-decoration: none;
				font-size: 20px;

			}
			img{
				width: 100%;
				height: auto;
				display: block;
			}
			body{
				background-image: url(https://im0-tub-ua.yandex.net/i?id=72efc4bfc6c5404186147fc18876b0cf&n=13);
			}
			#gucci{
				background-color: lightgreen ;
				max-height: 50px;



			}
			#left{
				position: absolute;
				left: 180px;
				top: 50px;
			}
			#right{
				position: absolute;
				right: 180px;
				top: 50px;
			}
			#Toby{
				height: 50%;
				width: 50%;
			}

			#name{
				position: absolute;
				font-family: 'Oswald', sans-serif;
				font-size: 40px;
				bottom: 715px ;
				left: 45%
			}
			#vk{
				text-decoration: none;
				font-family: 'Oswald', sans-serif;
				font-size: 20px;
				color: black;
				transition: 0.2s ease-in;

			}
			#vk:hover{
				border: 3px solid;
				border-color: blue;
			}
/*colorhunt.co
ColorSheme.ru
ColorHex.com
htmlcolorcods.com
ДЗ:стрелки переключения страниц, и 5 стр
*/